<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<h3>Registration</h3>
<form th:method="POST" th:action="@{/registration}" th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
    <br>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br>
    <label for="name">Enter firtname: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="lastname">Enter firtname: </label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <br>

    <label for="role">Выберите роль:</label>
    <select id="role" name="role">
        <option th:text="ADMIN" th:value="ADMIN"/>
        <option th:text="USER" th:value="USER"/>

<!--        <option th:each="r : ${allRoles}"-->
<!--                th:text="${r.getName()}"-->
<!--                th:value="${r.getName()}">-->
<!--        </option>-->
    </select>
    <br>
    <br>
    <input type="submit" value="Sign up!"/>
    <br>
    <div th:if="${usernameError!=null}" style="color: red">
        Пользователь с таким username существует.
    </div>
</form>
</body>
</html>